<app-navbar></app-navbar>
<div class="bg-primary bg-gradient d-flex align-items-center justify-content-center flex-column" style="height:300px;">
    <h1 class="display-4 text-white">Services</h1>
    <p class="text-white lead">Information about SCS</p>
</div>
<div class="justify-content-center text-center container pt-3">
    <h1 class="display-5">Mission</h1>
<p>SCS is our eCommerce solution. In addition to providing online shopping services, SCS aims to assist with smart green delivery trips to destinations inside the city.</p>
</div>
