<app-navbar></app-navbar>
<app-storeselector-nav></app-storeselector-nav>

<div class="container">
    <h1>Cart</h1>

    <div id="cartItems" class="container" *ngIf="this.fullCart.length > 0; else elseBlock">
        <span *ngFor="let item of this.fullCart">
            <div class="row align-items-center" id="{{item.ItemID}}-{{item.ItemSize}}">
                <div class="col col-sm-2">
                    <img src='assets/products/{{ item.Picture_URL }}' width='100' height='100' draggable='false'>
                </div>
                <div class="col">
                    <h3>{{ item.ItemName }}</h3>
                    <p>{{ item.Quantity }} x {{ item.ItemSize }}</p>
                </div>
                <div class="col text-end col-sm-2 pe-2">
                    <h5>{{ item.ItemPrice | currency }}</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="deleteItem($event)"></button>
                </div>
            </div>
            <hr>
        </span>
        
        <div class="row" id="totals">
            <div class="d-flex justify-content-between p-2">
              <h5>Subtotal</h5>
              <h5>{{this.cartSubtotal() | currency}}</h5>
            </div>
            <div class="d-flex justify-content-between p-2">
                <h5>Discounts</h5>
                <p>Coupon codes can be used during checkout</p>
            </div>
            <div class="d-flex justify-content-between p-2">
              <h5>Taxes</h5>
              <h5>{{this.cartSubtotal() * 0.13 | currency}}</h5>
            </div>
            <hr>
            <div class="d-flex justify-content-between p-2">
              <h4>Total</h4>
              <h4>{{this.cartSubtotal() * 1.13 | currency}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2">
                <button class="btn btn-danger d-block m-auto my-2" (click)="this.clearCart()">Clear cart</button>
            </div>
            <div class="col col-sm-2">
                <button class="btn btn-outline-primary d-block m-auto my-2" (click)="this.checkout()" [disabled]="!loggedIn()">Checkout</button>
                <p *ngIf="!loggedIn()">Log in to checkout</p>
            </div>
            
        </div>
    </div>
    <ng-template #elseBlock>
        <h3>Your cart is empty!</h3>
        <a routerLink="/items" class="btn btn-outline-primary m-auto my-2">Shop Now</a>
    </ng-template>
</div>
