<app-navbar></app-navbar>

<div class="bg-primary bg-gradient d-flex align-items-center justify-content-center flex-column" style="height:300px;">
    <h1 class="display-4 text-white">About Us</h1>
    <p class="text-white lead">General and contact information of our team</p>
  </div>
  <div class="container-fluid d-flex justify-content-center flex-wrap p-4">
    <div class="card text-bg-light m-4 shadow" style="max-width: 17rem;">
      <div class="card-header bg-white text-center">
        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" width="50%">
      </div>
      <div class="card-body">
        <h5 class="card-title lead fs-4">Adam Whittington</h5>
        <p class="card-subtitle">adam.whittington@torontomu.ca</p>
      </div>
    </div>
    <div class="card text-bg-light m-4 shadow" style="max-width: 17rem;">
      <div class="card-header bg-white text-center">
        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" width="50%">
      </div>
      <div class="card-body">
        <h5 class="card-title lead fs-4">Bill Wang</h5>
        <p class="card-subtitle">bill.wang@torontomu.ca</p>
      </div>
    </div>
    <div class="card text-bg-light m-4 shadow" style="max-width: 17rem;">
      <div class="card-header bg-white text-center">
        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" width="50%">
      </div>
      <div class="card-body">
        <h5 class="card-title lead fs-4">Michelle Vu</h5>
        <p class="card-subtitle">michelle.vu@torontomu.ca</p>
      </div>
    </div>
    <div class="card text-bg-light m-4 shadow" style="max-width: 17rem;">
      <div class="card-header bg-white text-center">
        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" width="50%">
      </div>
      <div class="card-body">
        <h5 class="card-title lead fs-4">Maheen Rathod</h5>
        <p class="card-subtitle">maheen.rathod@torontomu.ca</p>
      </div>
    </div>
    <div class="card text-bg-light m-4 shadow" style="max-width: 17rem;">
      <div class="card-header bg-white text-center">
        <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg" width="50%">
      </div>
      <div class="card-body">
        <h5 class="card-title lead fs-4">Peter Tran</h5>
        <p class="card-subtitle">khang.tran@torontomu.ca</p>
      </div>
    </div>
  </div>
